
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
